<% swimmer = club_swimmer %>
<tr class="fact-major">
  <td align="right"><%= swimmer.registration %></td>
  <td><%= link_to swimmer.name, swimmer %>, <%= swimmer.age %></td>
  <td><%= swimmer.birthday %></td>
</tr>
