<h1>Clubs</h1>

<table class="fact-sheet">
<% @clubs.each do |club| %>
  <tr class="fact-major">
    <td><%= link_to club.name, club %></td>
    <td>:</td>
    <td align="right"><%= club.swimmers.count %> swimmers</td>
  </tr>
<% end %>
</table>

<br />
<hr />

<% if can? :create, Club %>
  <%= link_to 'New Club', new_club_path %>
<% end %>
