<h1>Clubs</h1>

<table class="fact-sheet">
<% @clubs.each do |club| %>
  <tr class="fact-major">
    <td><%= link_to club.name, club %></td>
    <td>:</td>
    <td align="right"><%= club.swimmers.count %> swimmers</td>
<% if user_session[:edit] %>
    <td><%= link_to image_tag('delete.png', :class => "icon"), club, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<hr />

<% if user_session[:edit] %>
<%= link_to 'New Club', new_club_path %>
<% end %>
