<h1>Disciplines</h1>

<table>
<% @disciplines.sort_by { |x| [x.gender, Discipline::STROKES.index(x.stroke), x.distance, x.mode, Discipline::COURSES.index(x.course)] }.each do |discipline| %>
  <tr>
    <td><%= link_to discipline, discipline %></td>
  </tr>
<% end %>
</table>

<br />

<hr />
<% if session[:edit] %>
<%= link_to 'New Discipline', new_discipline_path %>
<% end %>
