<%= render 'events/navigation' %>

<h2>Heats.</h2>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>(Seed)</th>
<th>Result</th>
</tr>

<% @heats.sort.each do |index, heat| %>
  <tr class="fact-title">
    <th colspan="7">Heat <%= index %></th>
  </tr>
  <%= render heat.sort_by(&:lane) %>
<% end %>
</table>

<br />
<hr />

