<h3>Qualification Standards</h3>

<table>
<% @competition.standards.each do |standard| %>
  <tr>
    <td><%= link_to standard.qualification.name, standard.qualification %></td>
    <% if can? :update, @competition %>
      <td><%= link_to image_tag('delete.png', :class => "icon"), standard, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  <tr>
<% end %>
</table>

<br />

<% if can? :update, @competition %>
  <%= link_to 'Select Qualification Standards', new_standard_path(:competition_id => @competition) %>
<% end %>
