<h3>Qualification Standards<h3>

<ul>
<% @competition.qualifications.each do |qualification| %>
<li><%= qualification.name %></li>
<% end %>
</ul>

<br />

<%= link_to 'Select Qualification Standards', standards_path(:competition_id => @competition) %>
