<h1>Competitions</h1>

<table>
<% @competitions.reverse_each do |competition| %>
  <tr>
    <td><%= competition.date %></td>
    <td><%= link_to competition.name, competition %>
    (<%= competition.location %>)</td>
  </tr>
<% end %>
</table>

<br />
<hr />

<%= link_to 'New Competition', new_competition_path %>
