<h1>Qualifications</h1>

<table>
<% @qualifications.each do |qualification| %>
  <tr>
    <td><%= link_to qualification.name, qualification %></td>
<% if session[:edit] %>
    <td><%= link_to image_tag('delete.png', :class => "icon"), qualification, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<hr />

<% if session[:edit] %>
<%= link_to 'New Qualification', new_qualification_path %>
<% end %>
