<h1>Qualifications</h1>

<table class="fact-sheet">
<% @qualifications.each do |qualification| %>
  <tr class="fact-major">
    <td><%= link_to qualification.name, qualification %></td>
  </tr>
<% end %>
</table>

<br />
<hr />

<% if can? :create, Qualification %>
  <%= link_to 'New Qualification', new_qualification_path %>
<% end %>
