#banner {
  background: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: yellow;
  text-align:center;
}

#banner img {
  float: left;
  width: 3em;
}

#banner #admin {
  float: right;
}

#columns {
  background: blue;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: blue;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: yellow;
}

table.qualification {
    border-collapse: collapse;
    display: inline;
}

table.qualification th {
    border: 1px solid yellow;
    padding:2px;
    background: blue;
    color: white;
}

table.qualification td {
    border: 1px solid blue;
    padding:2px;
    background: yellow;
}

table.qualification a:link {
    text-decoration:none;
}

table.qualification a:visited {
    color: #000000;
}

table.qualification a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

th.discipline {
    text-align: left;
    font-weight: normal;
}
