<%= render 'events/navigation' %>

<h2>Lanes.</h2>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>

<% @lanes.sort.each do |index, lane| %>
  <tr class="fact-title">
    <th colspan="7">Lane <%= index %></th>
  </tr>
  <%= render lane.sort_by(&:heat) %>
<% end %>
</table>

<br />
<hr />

