<p id="notice"><%= notice %></p>

<h1>Event <%= @event.pos %>: <%= @event.discipline.name %></h1>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>

<%= render @results.map { |x| x.entry } %>

</table>
