<h2>Results</h2>

<% r = @swimmer.results.group_by { |x| x.entry.event.discipline } %>
<% r.keys.each do |discipline| %>
  <h3><%= discipline.name %> (<%= @swimmer.personal_best(discipline)%>)</h3>
  <% r[discipline].each do |result| %>
    <%= result.entry.event.competition.date %>
    <%= result %> <br />
  <% end %>
<% end %>
